</div>
	<footer>
	  <div class="container">
		<div class="row">
			<div class="col-xs-7">
				<h1 class="footer-title">关于NodeOJ</h1>
				<hr><hr>
				<p>Copyright © 2017 QDACM. All rights reserved.</p>
				<p>制作成员：WangshuoSAMA,Care_FYF  ...  ...  ...</p>
				<p>齐齐哈尔大学</p>
				<p><a href="/about">关于NodeOJ</a>|<a href="/faq">帮助中心</a>|<a href="/rules">NodeOJ规则</a>|<a href="/callme">联系我们</a></p>
				<p><a class="footer-brand" href="http://www.miitbeian.gov.cn/">黑ICP备16000968号-1</a></p>
			</div> <!-- /col-xs-7 -->

			<div class="col-xs-5">
				<div class="footer-banner">
					<h3 class="footer-title">所以说这地方放点啥好</h3>
					<p>去我bolg学点姿势？</p>
					<p>Go to: <a href="http://qdacm.xin">qdacm.xin</a></p>
					<p>去POJ做点题？</p>
					<p>Go to: <a href="http://poj.org">poj.org</a></p>
					<p>去HDU做点题？</p>
					<p>Go to: <a href="http://acm.hdu.edu.cn/">acm.hdu.edu.cn</a></p>
				</div>
			</div>
		</div>
	  </div>
</footer>

  </body>
</html>