<style>
    </style>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p>
          <a class="btn btn-lg btn-primary" href="/problem" role="button">点击这里开始刷题&raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->